<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Formulário e Lista</title>
   <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   <div class="container">
       <div class="form-section">
           <h2>Adicionar Item</h2>
           <form id="itemForm">
               <label for="campo1">Nome:</label>
               <input type="text" id="campo1" name="campo1" required>


               <label for="campo2">Especie:</label>
               <input type="text" id="campo2" name="campo2" required>


               <label for="campo3">Arma:</label>
               <input type="text" id="campo3" name="campo3" required>


               <label for="campo4">Estado Atual:</label>
               <input type="text" id="campo4" name="campo4" required>


               <button type="submit" class="btn-add">Adicionar</button>
           </form>
       </div>


       <div class="table-section">
           <h2>Lista de Itens</h2>
           <table>
               <thead>
                   <tr>
                       <th>Nome</th>
                       <th>Especie</th>
                       <th>Arma</th>
                       <th>Estado Atual</th>
                       <th>Ações</th>
                   </tr>
               </thead>
               <tbody id="itemList">
                   {% for personagem in personagens %}
                   <tr>
                       <td>{{personagem.nome}}</td>
                       <td>  {{personagem.especie}}</td>
                       <td>{{personagem.arma}}</td>
                       <td>{{personagem.EstadoAtual}}</td>
                       <td>
                           <div class="actions">
                               <a class="btn-edit" href=""><i class="fas fa-pencil-alt"></i></a>
                               <a class="btn-delete" href=""><i class="fas fa-trash-alt"></i></a>
                           </div>
                       </td>
                   </tr>
                   {% endfor %}
                   <!-- Linhas serão adicionadas aqui -->
               </tbody>
           </table>
       </div>
   </div>
</body>
</html>







